body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
}

#login-container, #display-container {
    display: none;
    flex-direction: column;
    align-items: center;
}

#login-container {
    display: flex;
}

#login-button {
    padding: 10px 20px;
    background-color: #7289da;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

#display-container {
    width: 600px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid transparent;
    border-image: linear-gradient(45deg, red, yellow, green, cyan, blue, magenta, red) 1;
    animation: borderAnimation 5s infinite;
    box-sizing: border-box;
}

#discord-id {
    font-size: 2em;
    margin-bottom: 20px;
    z-index: 10;
    text-align: center;
}

#snowfall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}

@keyframes borderAnimation {
    0% {
        border-image: linear-gradient(45deg, red, yellow, green, cyan, blue, magenta, red) 1;
    }
    100% {
        border-image: linear-gradient(45deg, red, yellow, green, cyan, blue, magenta, red) 1;
    }
}
